streamlit>=1.51.0
python-dotenv>=1.1.1
pandas
openai>=1.65
tiktoken
msal
rich
requests
chevron
pydantic
pytest
pytest-cov
markdown
textdistance
scipy
llama-index
llama-index-embeddings-huggingface
llama-index-readers-web
llama-index-embeddings-azure-openai
llama-index-embeddings-openai
